body {
    margin: 0;
    background: rgb(255, 255, 255);
    color: rgb(2, 0, 0);
    font-family: Arial, sans-serif;
}

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* TEXTO GIGANTE */
.background-text {
    position: absolute;
    font-size: 12vw;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.719);
    z-index: 1;
    pointer-events: none;
    animation: moverTexto 2s ease-in-out infinite alternate;
}

@keyframes moverTexto {
    from { transform: translateX(-30px); }
  to { transform: translateX(30px); }
}

/* ROBOT */
.robot {
    position: relative;
    z-index: 2;
    animation: subirRobot 1.5s cubic-bezier(.17,.67,.38,1.29) forwards;
    transform: translateY(200px);
    opacity: 0;
}

@keyframes subirRobot {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.section {
    padding: 80px 10%;
    min-height: auto;
    margin:0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ffffff;
    color: rgb(0, 0, 0);
}


/* CONTENEDOR GENERAL */
.container {
    display: flex;
    align-items: center;
    gap: 50px;
}

/* SOBRE MÍ */
.card-back p {
    font-size: 1.2rem;
    line-height: 1.8;
    font-weight: 300;
    margin-top: 20px;
}


/* CONTENEDOR */
.card-3d {
    width: 350px;
    height: 450px;
    perspective: 1000px; /* profundidad 3D */
}

/* ELEMENTO QUE GIRA */
.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

/* EFECTO HOVER */
.card-3d:hover .card-inner {
    transform: rotateY(180deg);
}

/* CARAS */
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    overflow: hidden;
}

/* FRENTE */
.card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ATRÁS */
.card-back {
    background: #ffffff;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
}

/* EFECTO TITULO */
.titulo.wow-titulo {
    font-size: 5vb;
    text-align: center;
    margin-bottom: 40px;
}

.titulo.wow-titulo {
    color: transparent;
    background: linear-gradient(90deg, #213472, #ffffff, #ffffff);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradientMove 4s linear infinite;
}

@keyframes gradientMove {
    0% { background-position: 0% center; }
    100% { background-position: 200% center; }
}



/* ANIMACIONES */

@keyframes aparecerPC {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes aparecerTexto {
    to {
        opacity: 1;
    }
}


/* ANIMACIÓN FADE */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(50px); }
    to { opacity: 1; transform: translateY(0); }
}

/* SKILLS */
.skills {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 100px 0;
    background: #0d0d0d;
    flex-wrap: wrap;
}

/* TARJETAS */
.skill-card {
    position: relative;
    width: 220px;
    height: 240px;
    background: #121212;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: 0.4s ease;
}

/* GLOW ANIMADO */
.skill-card::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255,255,255,0.15) 0%, transparent 60%);
    top: -50%;
    left: -50%;
    opacity: 0;
    transition: 0.4s ease;
}

.skill-card:hover::before {
    opacity: 1;
}

/* HOVER */
.skill-card:hover {
    transform: translateY(-10px);
    border: 1px solid rgba(255,255,255,0.4);
}

/* IMAGEN */
.skill-card img {
    width: 80px;
    margin-bottom: 20px;
    transition: 0.4s;
}

.skill-card:hover img {
    transform: scale(1.1);
}

/* TEXTO */
.skill-card p {
    color: rgb(255, 255, 255);
    font-size: 18px;
    letter-spacing: 1px;
}


/* CARDS */
.edu-cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.edu-card {
    flex: 1;
    min-width: 280px;
    background: rgb(78, 75, 75);
    padding: 25px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgb(0, 0, 0);
    transition: all 0.4s ease;
}

.edu-card h3 {
    margin-bottom: 10px;
}

.date {
    font-size: 14px;
    opacity: 0.7;
}

.edu-card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 15px 35px rgb(0, 0, 0);
}


/* HOBBIES  */ 
/* CONTENEDOR HORIZONTAL */
.hobby-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 60px;
}

/* TARJETAS */
.hobby-card {
    flex: 1;
    min-width: 280px;
    max-width: 350px;
    padding: 50px 30px;
    border-radius: 25px;
    background: #111;
    border: 1px solid rgba(255,255,255,0.08);
    text-align: center;
    position: relative;
    transition: all 0.4s ease;
    overflow: hidden;
}

/* BORDE DEGRADADO ELEGANTE */
.hobby-card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 25px;
    padding: 1px;
    background: linear-gradient(135deg, #00ffcc, #0066ff);
-webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);

mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);

    -webkit-mask-composite: xor;
            mask-composite: exclude;
    opacity: 0;
    transition: opacity 0.4s ease;
}

/* TEXTO */
.hobby-card h3 {
    font-size: 22px;
    letter-spacing: 1px;
    color: #ffffff;
    transition: 0.3s ease;
}

/* HOVER PROFESIONAL */
.hobby-card:hover {
    transform: translateY(-12px);
    box-shadow: 0 25px 50px rgba(0,0,0,0.6);
}

.hobby-card:hover::before {
    opacity: 1;
}

.hobby-card:hover h3 {
    letter-spacing: 2px;
}



@keyframes rotateGlow { 
    from { transform: rotate(0deg); } 
    to { transform: rotate(360deg); } 
}


/*sueños 3D*/

/*         METAS CARTA           */
.suenos-slider {
    padding: 100px 20px;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

/*          TARJETA              */

.sueno-slide {
    position: relative;
    width: 320px;
    height: 420px;
    border-radius: 20px;
    overflow: hidden;
    background: #111;
    cursor: pointer;

    transition: transform 0.5s ease,
                box-shadow 0.5s ease;
}
/*       BORDE ANIMADO           */

.sueno-slide::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: 22px;
    background: linear-gradient(90deg, #00ffcc, #0066ff, #00ffcc);
    background-size: 200% auto;
    z-index: -1;
    animation: bordeAnimado 4s linear infinite;
}
/*            IMAGEN             */

.sueno-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s ease;
}
/*           OVERLAY             */
.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.9), transparent 70%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
    color: white;

    opacity: 0;
    transition: opacity 0.5s ease;
}

.overlay h3 {
    color: #ffffff;
    margin-bottom: 10px;
}


/*           HOVER               */

.sueno-slide:hover {
    transform: translateY(-12px);
    box-shadow: 0 20px 40px rgba(0,255,204,0.2);
}

.sueno-slide:hover img {
    transform: scale(1.1);
}

.sueno-slide:hover .overlay {
    opacity: 1;
}

/*         ANIMACION BORDE       */

@keyframes bordeAnimado {
    0% { background-position: 0% }
    100% { background-position: 200% }
}



/*FADE */
.Fade {
    opacity: 0;
    transform: translateY(80px) scale(0.95);
    transition: all 0.8s cubic-bezier(.17,.67,.38,1.29);
}

.Fade.show {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.footer {
    background: #000;
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.social {
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    border: 1px solid white;
    border-radius: 30px;
    transition: 0.4s ease;
}

.social:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px #00ffcc;
    background: #111;
}


/* sccion video*/

.video-section {
    padding: 100px 10%;
    text-align: center;
    background: #111;
}

.video-container {
    position: relative;
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    max-width: 800px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.6);
    transition: transform 0.4s ease;
}

.video-container img {
    width: 100%;
    display: block;
    transition: 0.5s ease;
}

.video-container:hover img {
    filter: brightness(0.6);
    transform: scale(1.05);
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: white;
    background: rgba(0,0,0,0.6);
    padding: 20px 25px;
    border-radius: 50%;
    transition: 0.4s ease;
}

.video-container:hover .play-button {
    background: #00ffcc;
    color: black;
    transform: translate(-50%, -50%) scale(1.1);
}



/* FOOTER */
.footer {
    background: #0d0d0d;
    padding: 40px 0;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.social-icons a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #111;
    transition: all 0.4s ease;
}

.social-icons img {
    width: 22px;
    height: 22px;
    transition: 0.4s ease;
}

/* EFECTO HOVER WOW */
.social-icons a:hover {
    transform: translateY(-8px) scale(1.1);
    background: linear-gradient(135deg, #484d4c, #484b50);
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.4);
}

.social-icons a:hover img {
    filter: brightness(0) invert(1);
}

footer .copyright {
    margin-top: 20px;
    font-size: 0.9rem;
    background: linear-gradient(90deg, #f1da74, #415f8d);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

